# IDEs and Editors
.vs/
.vscode/
*.autosave

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Build and Distribution
build/
dist/

# Project Specific
PhotoOrganizer_v2.exe
Playground/

# Legacy/Archive
bad prototypes/
