# IDEs and Editors
.vs/
.vscode/
*.autosave

# Python
__pycache__/
*.pyc
*.pyo
.venv/

# Build and Distribution
PhotoOrganizer_v3/build/
PhotoOrganizer_v3/dist/

# Project Specific
PhotoOrganizer_v2.exe
PhotoOrganizer_v3/test.py

# Legacy/Archive
bad prototypes/
